.space-speaker-section {
  width: 100%;
  min-height: 50%;
  padding: 20px;
}

.space-speaker-container {
  background-color: #d2daff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  min-height: 100%;
  width: 100%;
}

.space-speaker-participant-list {
  position: relative;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding: 24px;
  overflow-y: auto;
  padding-left: 51px;
}

.space-speaker-participant-img {
  width: 91px;
  height: 91px;
  border-radius: 48px;
}
