.toolbar-container {
    box-sizing: border-box;

    position: absolute;
    width: 242px;
    height: 46px;
    top: 34px;
    right: 62px;

    background: #D2DAFF;
    border: 2px solid #B1B2FF;
    border-radius: 15px;
}

.toobar-item {
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: center;
}