#chakra-modal-drawer-container{
    transition: all 300ms ease-in-out !important;
}

.drawer-close {
    align-items: flex-end !important;
    transform:  translateX(-350px) !important;
}

.drawer-open {
    /* align-items: inl !important; */
    transform:  translateX(0px) !important
}
